################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SistemaCajaAhorro/FileContentIndex
/obj
/bin/Debug/net8.0
/.vs/SistemaCajaAhorro/CopilotIndices/17.14.698.11175
/Models/Aportacione.cs
*.tmp
